name: Testing

on:
  pull_request:
    branches:
    - main

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: TrueBrain/actions-flake8@v2

